
div{
    border: 1px solid black;
    text-align: center;
    display: block;
    line-height: 100px;
}

#cont{
    width: 75%;
    margin: auto;
}

#div1{
    position: fixed;
    width: 200px;
    height: 150px;
    z-index: 4;
    background-color: lightgray;
}

#div2{
    position: relative;
    width: 75%;
    height: 400px;
    z-index: 3;
    background-color: lightgray;
    margin: auto;
}

#div3{
    position: absolute;
    width: 400px;
    height: 140px;
    z-index: 2;
    background-color: lightslategray;
    top: 259px;
    left: 100px;
}